@import "../css/fonts.css";
@import "../css/normalize.css";
@import "../css/forms.css";
@import "../lib/swiper.css";
@import "../css/modal.css";
@import "../css/help.css";

.help {
  padding-top: 24px;
}

.help-search {
  display: inline-flex;
  align-items: center;
  background: #f7f7f7;
  border: 1px solid #dddddd;
  border-radius: 100px;
  width: 300px;
}

.help-search:hover {
  background-color: #ebebeb;
}

/* input[type="search"]:has(.help-search)  {
  box-shadow: inset 0 0 0 2px #222222;
} */

.help-search__wrapper {
  padding: 0 50px;
  position: relative;
}

.help-search input[type="search"] {
  width: 100%;
  border-radius: 24px;
  padding: 15px 12px 15px 24px;
  border: 0;
  outline: none;
  font-size: 16px;
  color: #222222;
  background-color: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.help-search input[type="search"]::placeholder {
  font-size: 16px;
  color: #222222;
}

/* input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #dddd;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
} */

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}


/* search menu */
.search-menu {
  display: none;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 32px;
  padding: 12px 0;
  background: #fff;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 34px;
  padding: 8px 0;
  position: absolute;
  top: 50%;
  left: 0;
  overflow-y: auto;
  width: 100%;
}

.search-show {
  display: inline-flex;
}

.search-menu__article {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  width: 100%;
}

.search-menu__article:hover {
  background-color: var(--bg-hover);
}

.block-image {
  background: #ebebeb;
  border-radius: 8px;
  padding: 10px;
  margin-right: 16px;
}

.block-description p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.help-nav {
  display: inline-flex;
  gap: 10px;
  width: 100%;
  justify-content:left;
  margin-top: 30px;
  border-bottom: 1px solid #b8adad;
}

.h1 {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}

.help-nav__link {
  font-family: 'Messina Sans', sans-serif;
  font-weight: 600;
  color: #7a7272;
  padding: 10px 0;
  border: 0;
  margin: 0 8px;
  background-color: transparent;
  position: relative;
  text-transform: capitalize;
}

.help-nav__link::after,
.link-active::after {
  content: '';
  height: 1.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--nav-link-color);
  inset-inline: 0;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.help-nav__link:hover {
  opacity: 0.65;
}

/* анимация линии при наведении на неактивную ссылку */
.help-nav__link:hover::after {
  transform: scaleX(1);
  opacity: 0.65;
}





.container-helppage {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
}
.help-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  max-width: 1090px;
  margin: 20px 111px;
  border: 1px solid #b8adad;
  border-radius: 10px;
}


/*cards*/

.cards-helppage {
  padding: 30px 0;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}


.card-help {
  display: inline-block;
  vertical-align: middle;
  width: 255px;
  height: 255px;
}

.card-help img {
  max-width: 100%;
  height: 255px;
  vertical-align: middle;
  /* убираем зазор снизу */
  object-fit: cover;
  border-radius: 8px;
}

.card-image-help {
  min-height: 250px;
  border-radius: 8px;
  position: relative;
}

.card-text-help {
  margin-top: 20px;
}
/* .search-menu .search-menu__text {
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 240px;
  overflow-x: hidden;
  text-align: left;
  letter-spacing: 0.5px;
}

.search-menu a:hover {
  background-color: var(--bg-hover);
} */